.loginForm {
  margin: 0;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.loginForm > * {
  margin-bottom: 5px;
}

.loginTitle{
  text-align: center;
  margin-top: 1.1em;
  margin-bottom: 0.5em;
}

.loginLabel {
  color: rgb(205, 205, 205);
  font-weight: 500;
  margin-top: 10px;
  font-size: 0.9em;
}

.loginInput {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid rgb(205, 205, 205);
  font-size: 1em;
}

.loginFormButton {
  margin-top: 15px;
  margin-bottom: 20px;
  align-self: center;
  background-color: rgb(255, 25, 60);
  border-style: none;
  color: white;
  height: 3.5em;
  width: 8em;
  border-radius: 2em;
  margin-top: 1.5em;
  font-weight:900;
  font-size: 0.8em;
}

.loginFormButton:hover {
  cursor: pointer;
  color: rgb(255, 225, 225);
}

.loginFormButton:active {
  background-color: rgb(240, 20, 50);
}

.link {
  color: rgb(190, 190, 190);
  font-size: 0.8em;
  margin-bottom: 5px;
  align-self: center;
}