.postWrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 252, 252);
  border: solid 1px rgb(238, 238, 238);
  color: rgb(40, 40, 40);
  padding: 25px;
  padding-top: 0px;
  border-radius: 0.6em;
  margin-bottom: 20px;
}

.infoLabel {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.9em;
  color: rgb(110, 100, 100);
}

.infoContent {
  font-size: 1.2em;
  font-weight: 600;
}

.topIcons {
  padding: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4em;
  height: 2.5em;
}

.teamName {
  margin-bottom: 4px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.4em;
  color: rgb(255, 20, 55);
}

.teamInfos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


#feePaidInfo {
  text-align: end;
}