.mainPageWrapper {
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  margin: 0;
  width: 48vw;
  min-height: 44vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: right;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 35px;
}